<% content_for :title, @article.title %>
<h3><%= @article.title %></h3>

<% @images.each do |p| %>
  <%= image_tag(p.file.url, height: '250') %>
<% end %>

<p class="text">
  <%= @article.text %>
</p>

<div class="bottom">
  <%= link_to 'Назад', root_path, class: "btn btn-light" %>
</div>