$font-stack: Helvetica, sans-serif;
$primary-color: #000;
h1 {
  font: bold 180% $font-stack;
  color: $primary-color;
  text-align: center;
  margin-top: 5%;
}

article {
  font: 110% $font-stack;
  color: $primary-color;
  margin-left: 20%;
}
