<div id="images-list">
  <%#= render @images %>
</div>

<%= form_for :images, remote: true do |f| %>
  <%= f.label :file, "Изображение:" %>
  <%= f.file_field :file, multiple: true, name: "image[file][]", id: 'new_image' %>
<% end %>

<script>
  $(document).ready(function() {
    $('#new_image').fileupload({dataType: 'script'});
  });
</script>