<p>
  <%= image_tag(image.file.url, height: '300') %><br>
  <%= link_to 'Удалить изображение', [image.article, image],
               method: :delete,
               data: { confirm: 'вы уверены?' } %>
</p>
