
  <%# @images.each do |p| %>
    <%#= image_tag(p.file.url, height: '250') %>
  <%# end %>

  <%#!! remote: true **destroy images %>
<li class="col-xs-3">
  <%= link_to image_tag(@image.file.url, class: 'img-thumbnail') %>
</li>